node_modules
package-lock.json

docker-compose-backup.yml
nginx/.env
docker-compose.dev.yml
client/.env
k8s/postgres-secret.yaml
k8s/client.secret.yaml
k8s/server-secret.yaml
server/Dockerfile
server/Dockerfile-backup
Dockerfile
cloudbuild.yaml
Dockerfile-backupv2
server/Dockerfile
server/Dockerfile-old
server/Dockerfile
